*{
          font-family: initial;
}
.card-img-top{
          padding: 10px;
}
.card2{
          margin-bottom: 20px;
}
.foot-head h5 {
color: white;
}
.mb-2{
          color: white;
}
.fs-5{
          color: white;
}